.products{
    .product{
        text-align: center;
        .imgProduct{
            padding-top: 120%;
            width: 100%;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            .btnOptions{
                position: absolute;
                bottom: -50px;
                left: 0;
                right: 0;
                z-index: 11;
                display: flex;
                transition: bottom .2s linear;
                .optionAdd,
                .optionShow{
                    height: 26px;
                    overflow: hidden;
                    width: 50%;
                    background-color: #111;
                    transition: all .5s ease-out;
                    cursor: pointer;
                    .wrapIcon{
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        color: #FFFFFF;
                        font-size: 12px;
                        > svg{
                            font-size: 12px;
                        }
                        transition: all .5s ease-in-out;
                    }
                    &:hover{
                        background-color: #FFFFFF;
                    }
                    &:hover .wrapIcon{
                        transform: translateY(-100%);
                        color: #111;
                    }
                }
                .optionAdd{
                    width: 100%;
                }
                .optionShow{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        width: .5px;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: #FFFFFF;
                    }
                }
            }
            .btnFavorite{
                border-radius: 50%;
                background-color: #FFFFFF;
                position: absolute;
                top: 10px;
                right: -30px;
                display: flex;
                align-items: center;
                padding: 4px;
                z-index: 11;
                transition: all .3s linear;
                border: .5px solid #ccc;
                > svg {
                    font-size: 20px;
                }
                &:hover{
                    background-color: #111;
                    color: #FFFFFF;
                }
            }
            .itemImage{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding-top: 120%;
                transition: all .4s ease-in-out;
            }
            margin-bottom: 10px;
            .itemImage:nth-child(1) {
                opacity: 0;
            }
            &:hover .itemImage:nth-child(1) {
                z-index: 10;
                opacity: 1;
            }
            &:hover .itemImage:nth-child(2) {
                opacity: 0;
            }
            &:hover .btnOptions{
                bottom: 0;
            }
            &:hover .btnFavorite{
                right: 10px;
            }
        }
        .nameProduct{

        }
        .priceProduct{

        }
    }
    .noMatchSearch{
        background-color: #4278BB;
        width: 100%;
        padding: 10px 0;
        color: #FFFFFF;
        padding-left: 20px;
        margin: 16px 0 400px 0;

        > h2 {
            font-size: 12px;
        }
    }
}
