.navbar{
    position: fixed;
    display: flex;
    z-index: 49;
    top: 0;
    left: 0;
    right: 0;
    padding:  20px 50px;
    box-shadow:#000000 0px .15px 0px 0px;
    transition: all 0.3s ease-out;
    .navLogo{
        width: 20%;
        margin-right: 10%;
    }
    .navNavigate{
        flex : 1;
        .navList{
            height : 100%;
            .navItem{
                cursor: pointer;
                display:inline;
                font-size:13px;
                font-weight:600;
                text-align:center;
            }
        }
    }
    .navInfo{
        width: 20%;
        margin-left: 10%;
        .navList{
            justify-content: flex-end;
            .navItem{
                display:inline;
                padding: 6px;
                cursor: pointer;
                >svg{
                    font-size:17px;
                    line-height:17px;
                    font-weight: 100;
                    color: #111111;
                }
                text-align:right;
            }
            .navCart{
                position: relative;
                &:hover .customCart{
                    display: block;
                }
                .itemQuantity{
                    position: absolute;
                    top: -6px;
                    right: -4px;
                    background-color: #000000;
                    color: #FFFFFF;
                    font-size: 12px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                }
                .customCart{
                    position: absolute;
                    top: calc(100% + 20px);
                    right: 0;
                    width: 260px;
                    background-color: #111111;
                    padding: 10px;
                    cursor: default;
                    // display: none;
                    :before {
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        height: 20px;
                        width: 50%;
                        background-color: transparent;
                        right: 0;
                    }
                    .cartWrap{
                        max-height: 35vh;
                        background-color: #FFFFFF;
                        overflow-y: scroll;
                        padding-top: 10px;
                        .itemCart{
                            display: flex;
                            padding: 0 14px 10px 10px;
                            .wrapImg{
                                width: 30%;
                                .cartImg{
                                    padding-top: 100%;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center;
                                }
                            }
                            .infoProduct{
                                flex: 1;
                                text-align: left;
                                margin-left: 10px;
                                display: flex;
                                justify-content: space-between;
                                .itemInfo{
                                    > h4 {
                                        font-size: 12px;
                                    }
                                    > p {
                                        font-size: 11px;
                                        margin: 2px 0;
                                    }
                                }
                                .btnClose{
                                     > button {
                                        cursor: pointer;
                                        background-color: transparent;
                                        display: inline-flex;
                                        > svg {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                        .emptyCart{
                            >h2{
                                padding: 40px 0;
                                text-align: center;
                            }
                            > button{
                                display: flex;
                                align-items: center;
                                background-color: transparent;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                float: right;
                                transition: all .4s ease-in-out;
                                &:hover {
                                    color: #f57250;
                                }
                                > svg{
                                    font-size: 12px;
                                    margin-left: 6px;
                                }
                            }
                        }
                    }
                    .subtotal{
                        background-color: #111111;
                        padding: 10px 0 0;
                        color: #FFFFFF;
                        .total{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 13px;
                            > span{
                                &:nth-child(1){
                                    font-size: 11px;
                                    color: #8d8d8d;
                                }
                            }
                        }
                        .viewCart,
                        .checkoutCart{
                            border: 1px solid #8d8d8d;
                            margin: 7px 0;
                            padding: 10px 0;
                            text-align: center;
                            font-size: 11px;
                            display: block;
                            width: 100%;
                            transition: all .5s ease-in-out;
                        }
                        .viewCart{
                            background-color: #1c1c1c;
                            color: #8d8d8d;
                            &:hover {
                                color: #FFFFFF;
                            }
                        }
                        .checkoutCart{
                            background-color: #FFFFFF;
                            color: #111111;
                            &:hover {
                                background-color: #f57250;
                                border-color: #f57250;
                                color: #FFFFFF;
                            }

                        }
                    }
                }
            }
        }
    }
}