.product{
    text-align: center;
    .imgProduct{
        width: 100%;
        // padding-top: 120%;
        overflow: hidden;
        position: relative;
    }
    .nameProduct{

    }
    .priceProduct{

    }
}

