.searchWrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30% ;
    background-color: #FFFFFF;
    display: flex;
    .itemSearch{
        width: 40%;
        margin: auto;
        font-family: Poppins;
        >p{
            font-size: 14px;
        }
        .inputSearch{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #111;
            >input {
                flex: 1;
                font-size: 20px;
                padding: 10px 0;
            }
            .btnSearch{
                width: 40px;
                background-color: transparent;
            }
        }
    }
}